p &nbsp;
h3 This is the home page 
p &nbsp;
p &nbsp;
p Dear User, click on the panes for navigation
p To return here select the home pane!
p                         Thank You !

p {{homeController.homeData}}