div#energy-types
    p
        | MSN: {{energy[index].MSN}}
    p
        | YYYYMM: {{energy[index].YYYYMM}}
    p
        | Value: {{energy[index].Value}}
    p
        | Column_Order: {{energy[index].Column_Order}}
    p
        | Description: {{energy[index].Description}}
    p
        | Unit: {{energy[index].Unit}}
    p    
        | Year: {{energy[index].YYYYMM.substring( 0, 4 )}}
    p
        | Month: {{energy[index].YYYYMM.substring( 4, 6 )}}
    p
    
div#energy-length
    p
        | Record Count: {{energy.length}}