h1 Energy Types

button.btn.btn-primary(ng-click="getEnergyTypes()") Energy Types

div
    label
        | Number:
        input(type='number', name='input', data-ng-model='index', min='0', required='')

hr

elf-energy-types
//
.panel.panel-default
    .panel-heading Iterate over All Energy Types
    .panel-body
        input(type="number", data-ng-model="index", min="0")
        br
        energy-types
   
.panel.panel-default
    .panel-heading Select Energy Types
    .panel-body
        div(data-ng-repeat="Energy Types description")
            a(id="{{energy-types[index]}}", href="", ng-click='getEnergyTypes()') {{energy-types}}: {{energy-types}}