div#energy-types
    p
        | Year: {{msnTypes[index].MSN}}
    p
        | Solar: {{msnTypes.YYYYMM}}
    p
        | Geothermal: {{energy-types[index].Value}}
    p
        | Other biomass: {{energy-types[index].Column_Order}}
    p
        | Wind power: {{energy-types[index].Description}}
    p
        | Liquid biofuels: {{energy-types[index].Unit}}