div#energy-types
    p
        | MSN: {{energy[index].MSN}}
    p
        | YYYYMM: {{energy[index].YYYYMM}}
    p
        | Value: {{energy[index].Value}}
    p
        | Column_Order: {{energy[index].Column_Order}}
    p
        | Description: {{energy[index].Description}}
    p
        | Unit: {{energy[index].Unit}}
    
     br {{energy}}
     br {{index}}