h1 Energy Types

.panel.panel-default
    .panel-heading Iterate over All Energy Types
    .panel-body
        input(type='number', data-ng-model='index',  data-ng-change='energyChange()' , min='0')
        br
        br
        elf-energy-types
        
 .panel.panel-default
    .panel-heading About MSN Types       
    .panel-body
        p
        | {{ filteredEnergyTypes }}
        
 .panel.panel-default
    .panel-heading About Energy Types       
    .panel-body
        p
        | Record Count: {{energy.length}}