h1 Energy Types

.panel.panel-default
    .panel-heading Iterate over All Energy Types
    .panel-body
        input(type='number', data-ng-model='index',  data-ng-change='energyChange()' , min='0')
        br
        br
        elf-energy-types

