p &nbsp;
p This is the about page 
p &nbsp;
p &nbsp;
p &nbsp;
p &nbsp;
p &nbsp;
p &nbsp;
p &nbsp;
p &nbsp;
p PROG219 instructor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Charles Calvert of Bellevue College in Bellevue, WA
p AAS mobile applications student:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Peter Troendle
p &nbsp;

p {{aboutController.aboutData}}