div#renewable
    p
        span.caption Year
        | First: {{renewableByYear.Year}}
    p
        span.caption Solar
        | First: {{renewableByYear["Solar (quadrillion Btu)"]}}
    p
        span.caption Geothermal
        | First: {{renewableByYear["Geothermal (quadrillion Btu)"]}}
    p
        span.caption Other biomass
        | First: {{renewableByYear["Other biomass (quadrillion Btu)"]}}
    p
        span.caption Wind power
        | First: {{renewableByYear["Wind power (quadrillion Btu)"]}}
    p
        span.caption Liquid biofuels
        | First: {{renewableByYear["Liquid biofuels (quadrillion Btu)"]}}
    p
        span.caption Wood biomass
        | First: {{renewableByYear["Wood biomass (quadrillion Btu)"]}}
    p
        span.caption Hydropower
        | First: {{renewableByYear["Hydropower (quadrillion Btu)"]}}