div#renewable
    p
        | Year: {{renewable[index].Year}}
    p
        | Solar: {{renewable[index]["Solar (quadrillion Btu)"]}}
    p
        | Geothermal: {{renewable[index]["Geothermal (quadrillion Btu)"]}}
    p
        | Other biomass: {{renewable[index]["Other biomass (quadrillion Btu)"]}}
    p
        | Wind power: {{renewable[index]["Wind power (quadrillion Btu)"]}}
    p
        | Liquid biofuels: {{renewable[index]["Liquid biofuels (quadrillion Btu)"]}}
    p
        | Wood biomass: {{renewable[index]["Wood biomass (quadrillion Btu)"]}}
    p
        | Hydropower: {{renewable[index]["Hydropower (quadrillion Btu)"]}}
    p

    p   note: the simple form is used below, above the standard

div &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Renewable Energy
    br
    br
    p
        | Year: {{simpleFormat[index].year}}
    p
        | Solar: {{simpleFormat[index].solar}}
    p
        | Geothermal: {{simpleFormat[index].geo}}
    p
        | Other biomass: {{simpleFormat[index].biomass}}
    p
        | Wind power: {{simpleFormat[index].wind}}
    p
        | Liquid biofuels: {{simpleFormat[index].biofuels}}
    p
        | Wood biomass: {{simpleFormat[index].wood}}
    p
        | Hydropower: {{simpleFormat[index].hydro}}
    p