div#renewable
    p
        span.caption Year
        | First: {{renewable[index].Year}}
    p
        span.caption Solar
        | Solar: {{renewable[index]["Solar (quadrillion Btu)"]}}
    p
        span.caption Geothermal
        | Geothermal: {{renewable[index]["Geothermal (quadrillion Btu)"]}}
    p
        span.caption Other biomass
        | Other biomass: {{renewable[index]["Other biomass (quadrillion Btu)"]}}
    p
        span.caption Wind power
        | Wind power: {{renewable[index]["Wind power (quadrillion Btu)"]}}
    p
        span.caption Liquid biofuels
        | Liquid biofuels: {{renewable[index]["Liquid biofuels (quadrillion Btu)"]}}
    p
        span.caption Wood biomass
        | Wood biomass: {{renewable[index]["Wood biomass (quadrillion Btu)"]}}
    p
        span.caption Hydropower
        | Hydropower: {{renewable[index]["Hydropower (quadrillion Btu)"]}}