div#renewable
    p
        span.caption Year
        | First: {{renewableByYear.Year}}
    p
        span.caption Solar
        | Solar: {{renewableByYear["Solar (quadrillion Btu)"]}}
    p
        span.caption Geothermal
        | Geothermal: {{renewableByYear["Geothermal (quadrillion Btu)"]}}
    p
        span.caption Other biomass
        | Other biomass: {{renewableByYear["Other biomass (quadrillion Btu)"]}}
    p
        span.caption Wind power
        | Wind power: {{renewableByYear["Wind power (quadrillion Btu)"]}}
    p
        span.caption Liquid biofuels
        | Liquid biofuels: {{renewableByYear["Liquid biofuels (quadrillion Btu)"]}}
    p
        span.caption Wood biomass
        | Wood biomass: {{renewableByYear["Wood biomass (quadrillion Btu)"]}}
    p
        span.caption Hydropower
        | Hydropower: {{renewableByYear["Hydropower (quadrillion Btu)"]}}