div#renewable
    p
        span.caption Year
        | First: {{renewable[index].Year}}
    p
        span.caption Solar
        | First: {{renewable[index]["Solar (quadrillion Btu)"]}}
    p
        span.caption Geothermal
        | First: {{renewable[index]["Geothermal (quadrillion Btu)"]}}
    p
        span.caption Other biomass
        | First: {{renewable[index]["Other biomass (quadrillion Btu)"]}}
    p
        span.caption Wind power
        | First: {{renewable[index]["Wind power (quadrillion Btu)"]}}
    p
        span.caption Liquid biofuels
        | First: {{renewable[index]["Liquid biofuels (quadrillion Btu)"]}}
    p
        span.caption Wood biomass
        | First: {{renewable[index]["Wood biomass (quadrillion Btu)"]}}
    p
        span.caption Hydropower
        | First: {{renewable[index]["Hydropower (quadrillion Btu)"]}}