
div#renewableByYear
    p
        | Year: {{renewableByYear.Year}}
    p
        | Solar: {{renewableByYear["Solar (quadrillion Btu)"]}}
    p
        | Geothermal: {{renewableByYear["Geothermal (quadrillion Btu)"]}}
    p
        | Other biomass: {{renewableByYear["Other biomass (quadrillion Btu)"]}}
    p
        | Wind power: {{renewableByYear["Wind power (quadrillion Btu)"]}}
    p
        | Liquid biofuels: {{renewableByYear["Liquid biofuels (quadrillion Btu)"]}}
    p
        | Wood biomass: {{renewableByYear["Wood biomass (quadrillion Btu)"]}}
    p
        | Hydropower: {{renewableByYear["Hydropower (quadrillion Btu)"]}}