<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">        
        <title>Angular Starter Lists</title>
        <script src="bower_components/angular/angular.js"></script>
    </head>
    
    
    <body data-ng-app="main">
        
        <div ng-controller="ListControl as list">

    <ul class="unstyled">
        <li ng-repeat="todo in todoList">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>


        <h1>Angular Start Lists</h1>

        <p>Enter a name and I will add it to our list.</p>
        <input type="text" data-ng-model="listItem"  placeholder="Enter list item name">

        <p>You entered: {{listItem}}</p>
        
        </div>

    </body>
</html>