div#energy-selectors

    p
        | MSN: {{energyTypes[index].MSN}}
    p
        | YYYYMM: {{energyTypes[index].YYYYMM}}
    p
        | Value: {{energyTypes[index].Value}}
    p
        | Column_Order: {{energyTypes[index].Column_Order}}
    p
        | Description: {{energyTypes[index].Description}}
    p
        | Unit: {{energyTypes[index].Unit}}
    p    
        | Year: {{energyTypes[index].YYYYMM.substring( 0, 4 )}}
    p
        | Month: {{energyTypes[index].YYYYMM.substring( 4, 6 )}}
    p
    br
    br