#energy-types
    | Title: {{mainData}}
    br
    | MSN: {{filteredEnergyTypes[index].MSN}}
    br
    | Value: {{filteredEnergyTypes[index].Value}}
    br
    | Description: {{filteredEnergyTypes[index].Description}}
    br
    | Unit: {{filteredEnergyTypes[index].Unit}}
    br
    | YearMonth: {{filteredEnergyTypes[index].YYYYMM}}
    br
    | Year: {{filteredEnergyTypes[index].Year}}
    br
    | Month: {{filteredEnergyTypes[index].Month}}


//div#energy-selectors
//
    p
        | MSN: {{energyTypes[index].MSN}}
    p
        | YYYYMM: {{energyTypes[index].YYYYMM}}
    p
        | Value: {{energyTypes[index].Value}}
    p
        | Column_Order: {{energyTypes[index].Column_Order}}
    p
        | Description: {{energyTypes[index].Description}}
    p
        | Unit: {{energyTypes[index].Unit}}
    p    
        | Year: {{energyTypes[index].YYYYMM.substring( 0, 4 )}}
    p
        | Month: {{energyTypes[index].YYYYMM.substring( 4, 6 )}}
    p
    br
    br